html, body{
    margin:0;
    width: 100%;
    background-color: #73a2ba;
    font-family: "Poppins", sans-serif;
}
#outerDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color:#333;
    z-index: 1;
    opacity: 0.9;
    display:none;
}
#middleDiv{
    width: 50%;
    height: 50%;
    position: relative;
    transform:translate(50%, 50%);
    background-color:#dfe6e9;
    text-align: center;
    border-radius: 5px;
}
#close{
    float:right;
    margin-right: 2px;
}
#close:hover{
    color:crimson;
    cursor:pointer;
}
#innerDiv{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.4em;
}
#innerDiv span{
    color: hsl(0, 100%, 50%);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-weight: bold;
}

.login-form {
    width: 340px;
    margin: 80px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
    background: #f7f7f7;
	padding: 1px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
img{
    width: 100%;
    border-radius: 50%;
}
.valid:focus{
    background: #7bed9f;
}
.invalid:focus{
    background: #fd9644;
}
input + p {
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    color: orange;
    opacity: 0;
    height: 0;
}
input.invalid + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}
input.valid + p{
    opacity: 0;
}
#registerFormWrapper{
    display:none;
}

#passResetEmailField{
    margin:10px;
}
#passResetEmail{
    margin: 10px 0;
}
#passReset{
    margin: 40px auto -20px;
}
#passResetForm{
    text-align: center;
    display: none;
    margin:40px 0 -10px;
}
#thumbsup{
    width: 50%;
    border-radius: 0;
}
